* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Arial; 
    font-size: 18px;
}

h1,h2{
    color: #19ea19;
        font-family: Helvetica Neue, Arial;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 30px
}

h2{
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 10;
}


.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font-size: 22px;
    float: left;
    
}

.container {
    width: 1140px;
   
    margin: 20px auto 0 auto;
    
    
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    padding-left: 10px;
    position: relative;
}
.other-text {
    width: 25%;
    float: left;
}

.author-box {
    padding-top: 20px;
    border-top: 5px solid #9a9a9a;
    
}

.other {
    margin-bottom: 40px;
}

.author-box img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: left;
    
}

.blog-post img {
    height: 150;
    width: auto;
}

.date {
    position: absolute;
    top: 10;
    right: 30;
}
